tqdm==4.66.2
rich==13.7.0
torch==2.1.2+cu121
numpy==1.26.4
platformdirs==4.2.0
ctranslate2==4.0.0
tokenizers==0.15.2
huggingface-hub==0.20.3
accelerate==0.25.0
optimum==1.17.1
transformers==4.36.1
openai-whisper==20231117
nvidia-ml-py==12.535.133